<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>regist</title>
</head>
<body>
    <h1>신규 직원 등록</h1>
    <form action="/employee/regist" method="post">
        <label>사원번호 : </label><input type="text" name="empId"/><br/>
        <label>직원명 : </label><input type="text" name="empName"/><br/>
        <label>주민등록번호 : </label><input type="text" name="empNo"/><br/>
        <label>직급코드 : </label>
        <select name="jobCode" id="jobCode"></select><br/>
        <label>급여(백만~천만) : </label><input type="number" name="salary" min="1000000" max="10000000"/><br/>
        <input type="submit" value="직원 등록"/>
    </form>
    <script>
        fetch('/employee/job')
        .then(res => res.json())
        .then(data => {
            const $jobCode = document.getElementById('jobCode');

            for(let index in data) {
                const $option = document.createElement('option');
                $option.value = data[index].jobCode;
                $option.textContent = data[index].jobName;

                $jobCode.appendChild($option);
            }
        });
    </script>
</body>
</html>