<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
    <h1>Ohgiraffers Company</h1>
    <button onclick="location.href='/employee/222'">특정 직원 정보보기</button>
    <button onclick="location.href='/employee/list'">전체 직원 목록보기</button>
    <button onclick="location.href='/employee/querymethod'">쿼리 메소드 테스트</button>
    <button onclick="location.href='/employee/regist'">직원 등록</button>
    <button onclick="location.href='/employee/modify'">직원 수정</button>
    <button onclick="location.href='/employee/delete'">직원 삭제</button>
</body>
</html>